.cards{
    height: 100%;
    width: 100%;
    font-family: "Varela", sans-serif;
    padding: 0;
}
.cards ul{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
   
}

.cards li{
    list-style: none;
    margin-right: auto;
    margin-left:auto;
    margin-bottom: 4.875em;
}
@media (max-width:620px){
    .cards ul{
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        margin:auto;
        padding-left: 0;
        
    }
    .cards li{
        align-items: center;

    }
    
  }